*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

:root {
    --paddinGeneral : 0 20%;
    --marginBottomGeneral: 10vh;
    --mainColor: hwb(0 25% 75%);
    --secondaryColor: hsl(0, 0%, 55%);
    --secondaryBackgroundColor: hsl(209, 100%, 50%);
    --tertiaryBackgroundColor: hsl(18, 100%, 57%);
    --borderButton: 20px;
    --backGroundPrincipal: hsl(0,9%,96%);
}

::-webkit-scrollbar {
    background-color: rgb(232, 232, 232);
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondaryBackgroundColor);
    border-radius: 20px;
}

body {
    position: relative;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 20%;
    width: 100%;
    position: fixed;
    background-color: hsla(0, 0%, 100%);
    z-index: 999;
}

.header-section .navbar-container ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.header-section .navbar-container ul li a{
    font-size: 1rem;
    color: var(--mainColor);
    opacity: 50%;
    transition: 0.5s;
    font-weight: 500;
}

.header-section .navbar-container ul li a:hover {
    opacity: 100%;
}

.header-section .logo-container {
    min-width: 8rem;
    max-width: 8rem;
    display: flex;
    cursor: pointer;
}

.header-section .checkout-container button {
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--tertiaryBackgroundColor);
    color: white;
    border: none;
    border-radius: var(--borderButton);
    padding: 8px 35px;
    cursor: pointer;
    transition: 0.5s;
}

.header-section .checkout-container button:hover {
    background-color: hsl(204, 15%,26%);
}

.slider-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 10vh;
}

.slider-section .maintext-slider-container {
    margin-top: 5vh;
}

.maintext-slider-container > .title-maintext-container > h2{
    font-size: 5.2rem;
    text-align: center;
    color: var(--mainColor);
    font-weight: 600;
}

.maintext-slider-container > .description-maintext-container {
    padding: 0 25%;
    margin-top: 1%;
}

.maintext-slider-container > .description-maintext-container > p {
    text-align: center;
    font-size: 1.5rem;
    color: var(--secondaryColor);
    line-height: 40px;
    font-weight: 300;
}

.slider-section > .button-slider-container {
    display: flex;
    justify-content: center;
}

.slider-section > .button-slider-container > button {
    padding: 17px 80px;
    font-size: 1.7rem;
    font-weight: 500;
    background-color: var(--secondaryBackgroundColor);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
}

.slider-section > .button-slider-container > button:hover {
    background-color: hsl(204, 15%,26%);
}

.slider-section .image-slider-container {
    max-width: 40%; 
    position: absolute;
    bottom: 0;
}

.image-slider-container > img {
    object-fit: contain;
    width: 100%;
}

.background-slider-container {
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.background-slider-container > img {
    width: 100%;
    height: 100%;
}

.featured-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 20%;
    gap: 1rem;
    margin-bottom: var(--marginBottomGeneral);
    background-color: hsl(0, 3%, 93%);
}

.installation-featured-container {
    display: flex;
    gap: 2rem;
}

.card-installation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
}


.card-installation-container:not(:last-child):after{
    content: url(./../assets/icon/menu-right.svg);
    width: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 100px;
    right: -45px;
}

.featured-section .maintext-featured-container {
    text-align: center;
}

.maintext-featured-container .title-maintext-container h2{
    font-size: 3rem;
    color: var(--mainColor);
}

.maintext-featured-container .description-maintext-container p{
    padding: 0 10%;
    font-size: 1.2rem;
    color: var(--mainColor);
    text-align: center;
}

.featured-section .installation-featured-container {
    display: flex;
}

.card-installation-container .image-card-container{
    width: 70%;
    display: flex;
    align-items: center;
}

.text-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.text-card-container h3 {
    font-size: 1.5rem;
    color: var(--mainColor);
}

.text-card-container p {
    color: var(--mainColor);
}

.details-section {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin-bottom: var(--marginBottomGeneral);
}

.column-details-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 5vh;
}

.right-column .element-column-container{
    flex-direction: row-reverse;
    text-align: right;
}

.text-element-container h4 {
    font-size: 1.2rem;
}

.description-text-container p {
    font-size: 1rem;
    color: var(--mainColor);
}

.element-column-container {
    display: flex;
    align-items: flex-start;
    gap: 5%;
}

.image-element-container {
    width: 6rem;
}

.image-element-container img {
    width: 100%;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

.image-details-container {
    padding: 0 5rem;
    width: 20%;
}

.image-details-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(250%);
}

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-color: hsl(0, 0%, 94%);
    padding: 10vh 10%;
}

.team-section .teamcard-team-container .card-teamcard-container .expand-card-container {
   position: absolute;
   right: 0;
   margin: 20px;
   width: 30px;
   min-height: 15vh;
   border-radius: 20px;
   overflow: hidden;
}

.expand-card-container:hover  .expanded-card-container{
    transform: translateY(15vh);
}

.team-section .expand-card-container .contracted-card-container {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 99;
}

.team-section .expand-card-container .expanded-card-container {
    position: absolute;
    z-index: 98;
    height: 100%;
    border-radius: 30px;
    padding-top: 100%;
    background-color: white;
    top: -100%;
    transition: all 1s;
}

.expanded-card-container img {
    transform: scale(70%);
}

.team-section .contracted-card-container img {
    transform: scale(70%)
}

.team-section .maintext-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintext-team-container h2 {
    font-size: 3rem;
    color: var(--mainColor);
}

.maintext-team-container p {
    font-size: 1.2rem;
    color: var(--mainColor);
    text-align: center;
    padding: 0 10%;
}

.team-section .card-teamcard-container {
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
}

.team-section .teamcard-team-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.card-teamcard-container .image-card-container {
    height: 30vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.image-card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-teamcard-container .text-card-container {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 0;
}

.card-teamcard-container .text-card-container  h5{
    font-size: 1rem;
}

.card-teamcard-container .text-card-container p{
    font-size: 0.8rem;
}


/* CONTACT SECTION STYLE */

.contact-section {
    display: flex;
    justify-content: center;
    padding: 10vh 0;
    position: relative;
}

.contact-section .map-contact-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


.card-contact-container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 40vh;
    padding: 2rem;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    z-index: 100;
}

.card-contact-container .icon-contact-container {
    width: 2rem;
    height: 2rem;
} 

.icon-contact-container img {
    width: 100%;
    height: 100%;
}

.card-contact-container .item-contact-container {
    display: flex;
    gap: 0.5rem;
}

.item-contact-container .text-contact-container {
    display: flex;
    align-items: center;
}

.card-contact-container .title-card-container {
    font-size: 2rem;
}

.button-contact-container {
    height: 4rem;
    width: 100%;
}


.button-contact-container button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--secondaryBackgroundColor);
    border: 2px solid var(--secondaryBackgroundColor);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.button-contact-container button:hover {
    background-color: var(--secondaryBackgroundColor);
    color: white
}


/* FOOTER SECTION STYLE */

.footer-section {
    background-color: hsl(0, 0%, 94%);
    padding: 5vh 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 10vh;
}

.footer-section .rrss-footer-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.rrss-footer-container .icon-rrss {
    width: 2.5rem;
    height: 2.5rem;
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    opacity: 50%;
    transition: 0.5s;
}

.icon-rrss:hover {
    opacity: 100%;
}

.footer-section .separation-line {
    border: 1px solid  hsla(0, 0%, 54%, 0.226);
    width: 80%;
    height: 1px;
}

.footer-section .information-footer-container ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}

.footer-section .information-footer-container ul li a{
    color: var(--mainColor);
    opacity: 50%;
    font-size: 1rem;
}

.footer-section .information-footer-container ul li a:hover {
    opacity: 100%;
}

.footer-section .copyright-footer-container {
    font-size: 0.8rem;
    color: hsl(0, 0%, 64%);
}


/* CHECKOUT SECTION STYLE */

.checkout-section {
    position: fixed;
    width: 100%;
    height: 90vh;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: -999;
}

.checkout-section .checkout { 
    background-color: rgb(93, 93, 93);
    width: 60rem;
    height: 65vh;
    display: flex;
    -webkit-box-shadow: 10px 10px 58px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 58px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 58px -6px rgba(0,0,0,0.75);
    position: relative;
}

.checkout-section .checkout .image-carrousel {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
}

.checkout-section .checkout .image-carrousel img {
    object-fit: cover;
}

.checkout-section .checkout .details-checkout {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 65vh;
    padding: 5% 5%;
}

.checkout-section .checkout .details-checkout .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8%;
}

.checkout-section .checkout .details-checkout .title::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--secondaryColor);
    opacity: 0.2;
    margin-top: 8%;
}

.checkout-section .checkout .details-checkout .title .car-name p {
    font-size: 1.2rem;
    color: var(--secondaryColor);
}

.checkout-section .checkout .details-checkout .title .car-edition p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--mainColor);
}

.checkout-section .checkout .details-checkout .title .car-model p{
    font-size: 0.9rem;
    color: hsl(0, 0%, 71%);
}

.checkout-section .checkout .details-checkout .title .car-facture {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.checkout-section .checkout .details-checkout .title .car-facture .car-price p {
    font-size: 1.2rem;
}

.checkout-section .car-facture .car-price .old-price {
    text-decoration:line-through;
    color: var(--secondaryColor);
}

.checkout-section .car-facture .car-price .new-price {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--secondaryBackgroundColor);
}

.checkout-section .car-facture .offer-tag {
    background-color: var(--tertiaryBackgroundColor);
    padding: 1px 15px;
    border-radius: 4px;
}

.checkout-section .car-facture .offer-tag p {
    color: white;
    font-size: 0.7rem;
}

.checkout-section .description {
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}

.checkout-section .description::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--secondaryColor);
    opacity: 0.2;
    margin-top: 8%;
}

.checkout-section .description p {
    font-size: 1rem;
    color: var(--secondaryColor);
}

.checkout-section .details-checkout .color-car {
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}

.checkout-section .details-checkout .color-car::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--secondaryColor);
    opacity: 0.2;
    margin-top: 8%;
}

.checkout-section .details-checkout .color-car .form-color {
    display: flex;
    gap: 0.5rem;
}

.checkout-section .details-checkout .color-car .form-color .color {

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    position: relative;
}

.checkout-section .details-checkout .color-car .form-color input[type="radio"]:checked + div{
    border: 3px solid rgb(85, 85, 85);
}

.checkout-section .details-checkout .color-car .form-color .color input {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

.checkout-section .details-checkout .color-car .form-color .color-red-outline {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: red;
}

.checkout-section .details-checkout .color-car .form-color .color-blue {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgb(52, 154, 255);
}

.checkout-section .details-checkout .color-car .form-color .color-grey {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgb(148, 148, 148);
}

.checkout-section .checkout-button {
    width: 100%;
    height: 8vh
}

.checkout-section .checkout-button button {
    width: 100%;
    height: 100%;
    background-color: var(--secondaryBackgroundColor);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}

.checkout-section .checkout-button button:hover {
background-color: hsl(204, 15%,26%);
}

.close-button {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
    filter: invert(0.5) sepia(0) saturate(40) hue-rotate(10deg);
}

.close-button:hover {
    filter: invert(0.5) sepia(1) saturate(40) hue-rotate(10deg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }  

    to{
        opacity: 1;
    }
}





