.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    background-color: hsl(0, 0%, 94%);
    padding: 10vh 10%;
}

.team-section .teamcard-team-container .card-teamcard-container .expand-card-container {
   position: absolute;
   right: 0;
   margin: 20px;
   width: 30px;
   min-height: 15vh;
   border-radius: 20px;
   overflow: hidden;
}

.expand-card-container:hover  .expanded-card-container{
    transform: translateY(15vh);
}

.team-section .expand-card-container .contracted-card-container {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 99;
}

.team-section .expand-card-container .expanded-card-container {
    position: absolute;
    z-index: 98;
    height: 100%;
    border-radius: 30px;
    padding-top: 100%;
    background-color: white;
    top: -100%;
    transition: all 1s;
}

.expanded-card-container img {
    transform: scale(70%);
}

.team-section .contracted-card-container img {
    transform: scale(70%)
}

.team-section .maintext-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintext-team-container h2 {
    font-size: 3rem;
    color: var(--mainColor);
}

.maintext-team-container p {
    font-size: 1.2rem;
    color: var(--mainColor);
    text-align: center;
    padding: 0 10%;
}

.team-section .card-teamcard-container {
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius:20px;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 71px -37px rgba(0,0,0,0.75);
}

.team-section .teamcard-team-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.card-teamcard-container .image-card-container {
    height: 30vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: hidden;
}

.image-card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card-teamcard-container .text-card-container {
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 0;
}

.card-teamcard-container .text-card-container  h5{
    font-size: 1rem;
}

.card-teamcard-container .text-card-container p{
    font-size: 0.8rem;
}
@keyframes fadeCheckoutPart1 {
    from {
        left: 50%;
    }
    to {
        left: 0%;
    }
}

@keyframes fadeCheckoutPart2 {
    from {
        left: 0%;
    }
    to {
        left: 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }  

    to{
        opacity: 1;
    }
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }  

    to{
        opacity: 0;
    }
}
