.featured-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 20%;
    gap: 1rem;
    margin-bottom: $marginButtonGeneral;
    background-color: hsl(0, 3%, 93%);
}

.installation-featured-container {
    display: flex;
    gap: 2rem;
}

.card-installation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: relative;
}


.card-installation-container:not(:last-child):after{
    content: url(./../assets/icon/menu-right.svg);
    width: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 100px;
    right: -45px;
}

.featured-section .maintext-featured-container {
    text-align: center;
}

.maintext-featured-container .title-maintext-container h2{
    font-size: 3rem;
    color: $mainColor;
}

.maintext-featured-container .description-maintext-container p{
    padding: 0 10%;
    font-size: 1.2rem;
    color: $mainColor;
    text-align: center;
}

.featured-section .installation-featured-container {
    display: flex;
}

.card-installation-container .image-card-container{
    width: 70%;
    display: flex;
    align-items: center;
}

.text-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.text-card-container h3 {
    font-size: 1.5rem;
    color: $mainColor;
}

.text-card-container p {
    color: $mainColor;
}

