*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(42,76,187,255);
    position: relative;
    width: 100%;
}

.padding-container {
    padding: 0 5%;
}


button:hover svg {
    transform: scale(110%);
}

.panel {
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 5%;
}
