//typography
$font-stack : 'Popins' , sans-serif;

//colors
$mainColor : hsl(0, 0%, 25%);
$secondaryColor : hsl(0, 0%, 55%);
$secondaryBackgroundColor : hsl(209, 100%, 50%);
$tertiaryBackgroundColor : hsl(18, 100%, 57%);
$backgroundPrincipal :  hsl(0,9%,96%);
$hoverButton : hsl(204, 15%,26%);

//border & padding
$paddingGeneral : 0 20%;
$marginButtonGeneral :  10vh;
$borderButton : 20px;