.amount-product {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.amount-description p{
    color: $mainColor;
    font-size: 1.2rem;
}

.amount-input {
    display: flex;
    width: 80%;
    height: 50%;
    gap: 0.5rem;
    justify-content: center;
}

.amount-input div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.amount-input .button-amount-container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.amount-input div button {
    height: 100%;
    width: 100%;
    border: 2px solid $secondaryBackgroundColor;
    background-color: white;
    color: $secondaryBackgroundColor;
    font-size:2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.amount-input div button:hover {
    background-color: $secondaryBackgroundColor;
    color: white;
}

.amount-input div input {
    all: unset;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border-color: $backgroundSecundario;
    border: 2px solid rgb(149, 149, 149);
}